/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text for readability */
    margin: 0;
    padding: 0;
}

/* Sorter Page Section */
.sorter-section {
    margin-top: 100px;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sorter Header */
.sorter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.sorter-btn {
    font-size: 18px;
    color: #fff;
    background-color: #4C585B; /* Button background color */
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

/* Hover Effect for Buttons */
.sorter-btn:hover {
    background-color: #3b4a4d;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Category Button Styles */
.category-btn {
    font-size: 18px;
    color: #fff;
    background-color: #4C585B;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}



/* Modal Styles */
.ant-modal {
    border-radius: 10px;
}

.ant-modal-header {
    background-color: #4C585B;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.ant-modal-body {
    padding: 20px;
}

/* Modal Input Fields */
.ant-input {
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Custom Modal OK Button */
.ant-btn-primary {
    background-color: #4C585B;
    border-color: #4C585B;
    color: white;
}

.ant-btn-primary:hover {
    background-color: #3b4a4d;
    border-color: #3b4a4d;
}
.sorter-header .nav-icon {
    font-size: 30px;
    color: #333; /* 기본 검정색 */
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;

}

.sorter-header .nav-icon:hover {
    transform: scale(2); /* 호버 시 크기 증가 */
    color: #B7B7B7; /* 파란색 변경 */
}
