# 텍스트 파일 자동 관리
* text=auto

# Gradle은 LF 고정
/gradlew text eol=lf
*.bat text eol=crlf

# 바이너리 파일 무조건 제외
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.psd binary
*.woff binary
*.woff2 binary

# GitHub 언어 통계 정확도 향상
*.jsp linguist-language=HTML
*.sql linguist-language=SQL
*.js linguist-language=JavaScript
*.java linguist-language=Java